<div class="modal fade shadow rounded" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Author Info - <span id="modalTitle" class="fst-italic"></span></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="" id="authorInfo">
                            <div class="col">
                                <div class="row p-2 m-2 shadow rounded justify-content-center">
                                    <h3 id="authorName"></h3>
                                    <img id="authorImage" width="300px" alt="">
                                </div>
                                <div class="row p-2 m-2 shadow rounded">
                                    <h6 id="authorBio"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
            </div>
        </div>
    </div>