<% if (rows.length == 0) {%>
        <div class="col">
            <div class="card row m-1 p-2 shadow">
                <div class="row">
                    <h5 class="">
                        No quotes found....
                    </h3>
                </div>
            </div>
        </div>
    <%}%>